<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      table {
        border: 1px solid #fbeb4d;
        border-collapse: collapse;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      th {
        border: 1px solid #fbeb4d;
        background-color: #fbeb4d;
        text-align:left;
      }

      td {
        padding: 2px;
      }

      .border {
        width:100%;
        height: 20px;
        background-color: #fbeb4d;
        padding: 3px;
        font-weight: bold;
        font-size: 1.2em;
      }

    </style>

  </head>
  <body>

    <div class="border">COALCA Shop</div>

    <p><%= Spree.t('order_mailer.confirm_email.dear_customer') %></p>

    <p>Abbiamo approvato il tuo ordine #<%= @order.number %> e stiamo preparando le merci per la consegna. Di seguito un riepilogo:</p>


    <h4><%= Spree.t('order_mailer.confirm_email.order_summary') %></h4>

    <table>
      <tr>
        <th>SKU</th>
        <th>Prodotto</th>
        <th>Quantità</th>
        <th>Prezzo Unitario</th>
        <th>Prezzo Totale</th>
      </tr>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= item.variant.sku %></td>
        <td><%= raw(item.variant.product.name) %> <%= raw(item.variant.options_text) -%></td>
        <td>(<%=item.quantity%>)</td>
        <td><%= item.single_money %></td>
        <td><%= item.display_amount %></td>
      </tr>
    <% end %>
    </table>

    <h4><%= Spree.t('order_mailer.confirm_email.subtotal', :subtotal => @order.display_item_total) %></h4>

    <% @order.adjustments.eligible.each do |adjustment| %>
      <%= raw(adjustment.label) %> <%= adjustment.display_amount %>
    <% end %>

    <% @order.all_adjustments.tax.eligible.group_by(&:label).each do |label, adjustments| %>
      <%= raw(label) %> <%= Spree::Money.new(adjustments.sum(&:amount), :currency => @order.currency) %>
    <% end %>

    <h4><%= Spree.t('order_mailer.confirm_email.total', :total => @order.display_total) %></h4>

    <p>
      Visualizza online i dettagli del tuo ordine #<%= link_to @order.number, order_path(@order) %>.
    </p>
    
    <p>L'ordine verrà spedito a:</p>
    <div class="">
      <div class=""><b><%= @order.ship_address.full_name %></b></div>
      <% unless @order.ship_address.company.blank? %>
        <div class="">
          <%= @order.ship_address.company %>
        </div>
      <% end %>
      <div class="">
        <div class="">
          <div class="">
            <%= @order.ship_address.address1 %>
          </div>
          <% unless @order.ship_address.address2.blank? %>
            <div class="">
              <%= @order.ship_address.address2 %>
            </div>
          <% end %>
        </div>
        <div class="">
          <span class=""><%= @order.ship_address.city %></span>
          <span class=""><%= @order.ship_address.state_text %></span>
          <span class=""><%= @order.ship_address.zipcode %></span>
          <div class=""><%= @order.ship_address.country.try(:name) %></div>
        </div>
      </div>
    </div>

    <p>Riceverai un avviso di spedizione appena le merci saranno disponibili all'invio.

    Per qualunque domanda scrivici a info@coalca.it, indicando nel soggetto il tuo codice ordine: <%= @order.number %>.

    In allegato puoi trovare le condizioni di vendita, ti preghiamo di conservarle con cura.</p>

    <p><%= Spree.t('order_mailer.confirm_email.thanks') %></p>

    <p>Arrivederci a presto, <br/> lo staff di <%= link_to "Coalca Shop", root_path %></p>

  </body>
</html>
