<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
<nav id="taxonomies" class="sidebar-item" data-hook>
  <% taxonomy = @taxon ? @taxon.root : nil %>
  <% if taxonomy %>

    <% cache [I18n.locale, taxonomy, max_level] do %>
      <div class="taxonomy-root"><strong><%= taxonomy.name %></strong></div>
      <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
    <% end %>

  <% else %>

    <div class="taxonomy-root taxonomy-item"><strong><%= link_to "Macchinari", seo_url(Spree::Taxon.where(name: "Macchinari").first) %></strong></div>
    <div class="taxonomy-root taxonomy-item"><strong><%= link_to "Neutro", seo_url(Spree::Taxon.where(name: "Neutro").first) %></strong></div>
    <div class="taxonomy-root taxonomy-item"><strong><%= link_to "Minuteria", seo_url(Spree::Taxon.where(name: "Minuteria").first) %></strong></div>
    <div class="taxonomy-root taxonomy-item"><strong><%= link_to "Tavola", seo_url(Spree::Taxon.where(name: "Tavola").first) %></strong></div>

  <% end %>
</nav>
