<div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("Coalca_Big.jpg") %>
      <div class="carousel-caption">
        <h3>Coalca Shop</h3>
        <h4>Finalmente il meglio di Coalca, <br/>comodamente dal tuo PC.</h4>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row home-taxonomies">
  <div class="col-md-4 col-xs-12 col-sm-4">
    <h3><%= link_to "Macchinari", seo_url(Spree::Taxon.find_by_name("Macchinari")) %></h3>
    <div style="margin: 0 auto;"><%= image_tag "macchinari.jpeg" %></div>
    <h4>Scopri i migliori prodotti per la preparazione, la manutenzione e la pulizia.</h4>
  </div>
  <div class="col-md-4 col-xs-12 col-sm-4">
    <h3><%= link_to "Neutro", seo_url(Spree::Taxon.find_by_name("Neutro")) %></h3>
    <div style="margin: 0 auto;"><%= image_tag "arredamento.jpg" %></div>
    <h4>Attrezza la tua cucina con le nostre pratiche soluzioni.</h4>
  </div>
  <div class="col-md-4 col-xs-12 col-sm-4">
    <h3><%= link_to "Minuteria", seo_url(Spree::Taxon.find_by_name("Minuteria")) %></h3>
    <div style="margin: 0 auto;"><%= image_tag "minuteria.jpg" %></div>
    <h4>Tanti accessori utili per lavorare meglio.</h4>
  </div>
</div>
