<div>

<h3>Termini e condizioni</h3>

  <p>
    Condizioni Generali di Vendita Online tramite il proprio sito <%= link_to "Coalca Shop", root_path %> della ditta Coalca s.r.l.,
    con sede legale a Bresso (MI) in via G. Clerici 342, 20091. P.IVA/CF 00727120156, r.e.a. 662765 iscr. trib. mi.
  </p>
  <p>
    Utilizzando “Coalca Shop" dichiarate di accettarne le Condizioni Generali di Vendita.<br/>
  </p>
  <p>
    <i>Ultimo Aggiornamento: Novembre 2014</i>
  </p>

  <ul>
    <li><a href="#validita">Disposizioni generali – Validit&agrave;</a></li>
    <li><a href="#conclusione">Conclusione del Contratto</a></li>
    <li><a href="#disponibilita">Disponibilit&agrave; dei prodotti</a></li>
    <li><a href="#prezzi">Prezzi e condizioni di pagamento</a></li>
    <li><a href="#trasporto">Trasporto, Tempi di consegna, Termini di consegna</a></li>
    <li><a href="#montaggio">Montaggio</a></li>
    <li><a href="#rischio">Trasferimento del rischio</a></li>
    <li><a href="#garanzia">Garanzia commerciale</a></li>
    <li><a href="#responsabilita">Limitazione di responsabilit&agrave;</a></li>
    <li><a href="#registrazione">Registrazione del cliente, conto cliente</a></li>
    <li><a href="#prodotti">Prodotti</a></li>
    <li><a href="#assistenza">Assistenza clienti</a></li>
    <li><a href="#disposizioni">Disposizioni generali</a></li>
    <li><a href="#assistenza">Assistenza clienti</a></li>
    <li><a href="#privacy">Privacy e protezione dei dati</a></li>
    <li><a href="#legge">Legge applicabile e disposizioni finali</a></li>
  </ul>

  <ol class="terms">
    <div>
      <li><a name="validita">Disposizioni generali – Validit&agrave;</a></li>
      <ol class="terms">
        <li>
          Le presenti Condizioni di Vendita si applicano a tutti i rapporti commerciali presenti e futuri.
          Condizioni Generali di Vendita discordanti, contrarie o integrative non costituiscono parte integrante del contratto,
          neppure in caso di nostra conoscenza e consegna senza riserve, a meno che la loro validità non sia espressamente
          accettata per iscritto.
        </li>
        <li>
          Ai fini delle presenti Condizioni di Vendita, il portale Coalca Shop &egrave; indirizzato in maniera esclusiva a vendite di tipo “B2B” (Business To Business),
          cio&egrave; si rivolge ad attività imprenditoriali e professionisti muniti di Partita IVA.
        </li>
        <li>
          Tutti gli accordi conclusi tra Coalca srl e il Cliente ai fini dell’esecuzione del contratto,
          nonch&egrave; eventuali deroghe alle presenti Condizioni Generali di Vendita, devono essere riportati per iscritto nel contratto.
        </li>
      </ol>
    </div>

    <div>
      <li><a name="conclusione">Conclusione del Contratto</a></li>
        <ol class="terms">
          <li>
            Le offerte presenti sul portale “Coalca Shop” non sono vincolanti per Coalca rappresentando le stesse un mero catalogo online.
            La sola conferma del ricevimento dell’ordine da parte di Coalca non rappresenta accettazione dello stesso.
          </li>
          <li>
            L’invio dell’ordine da parte del Cliente costituisce proposta irrevocabile di conclusione di un contratto di compravendita
          relativo alle merci indicate nell’ordine stesso ed accettazione delle condizioni in esso riportate.
          </li>
          <li>
            Coalca srl si riserva il diritto di accettare l’ordine entro dieci giorni lavorativi dalla sua ricezione. L’accettazione verr&agrave;
            comunicata al Cliente per iscritto, tramite e-mail inviata all’indirizzo indicato in fase di registrazione dal Cliente.
            La predetta e-mail conterrà gli estremi del Cliente e dell'ordine, il prezzo della merce acquistata, le spese di trasporto
            e l'indirizzo di spedizione al quale sarà inviata la merce. Il Cliente si impegna a verificare la correttezza dei dati in essa contenuti
            e a comunicare tempestivamente eventuali correzioni.
          </li>
          <li>
            Il contratto di compravendita si intender&agrave; concluso all’accettazione dell’ordine da parte di
            Coalca pervenuta al cliente con le modalità di cui al punto 2.3.
          </li>
          <li>
             Nel caso in cui Coalca srl ritenga che il Cliente non dia sufficienti garanzie di solvibilità o accerti che l'ordine risulti incompleto
             o non corretto, la stessa sempre a mezzo mail comunicher&agrave; di non aver potuto dar seguito all’ordine d'acquisto, specificandone i motivi.
          </li>
        </ol>
    </div>

    <div>
      <li><a name="disponibilita">Disponibilit&agrave; dei prodotti</a></li>
      <ol class="terms">
        <li>
          La disponibilit&agrave; dei prodotti si riferisce a quella presente nel momento in cui il Cliente consulta le schede del prodotto;
          questa deve comunque essere considerata puramente indicativa perch&eacute;, per effetto della contemporanea presenza sul sito di pi&ugrave; utenti,
          i prodotti potrebbero essere venduti ad altri prima della conferma dell'ordine.
        </li>
        <li>
          Anche in seguito all'invio dell'e-mail di conferma dell'ordine da parte di Coalca, potrebbero verificarsi casi di
          indisponibilit&agrave; parziale o totale della merce. In questa eventualit&agrave;, il Cliente verr&agrave; tempestivamente informato e
          potr&agrave; decidere se accettare la consegna dei soli prodotti disponibili o richiedere l'annullamento dell'ordine comunicandolo
          via e-mail al servizio clienti.
        </li>
      </ol>
    </div>

    <div>
      <li><a name="prezzi">Prezzi e condizioni di pagamento</a></li>
      <ol class="terms">
        <li>
          Tutti i prezzi indicati nel negozio on-line si intendono al netto dell’imposta sul valore aggiunto (IVA)
          prevista dalla legge pari al 22%; tale imposta andr&agrave; ad aggiungersi al prezzo della merce.
          Tutti i prezzi si intendono inoltre franco magazzino di Coalca s.r.l., imballo compreso, al netto dei costi di spedizione.
        </li>
        <li>
          Il pagamento da parte del cliente pu&ograve; essere anticipato tramite carta di credito o bonifico:
          <ol class="terms">
            <li>
              Per i pagamenti con carta di credito, Coalca Shop accetta le carte aderenti ai circuiti Visa e Mastercard.
              Il pagamento avviene direttamente su un server sicuro con protocollo aderente allo standard PCI DSS e protezione SSL a 128bit.
            </li>
            <li>
              Per i pagamenti con bonifico bancario, il Cliente ricever&agrave; via e-mail una conferma automatica
              contenente le nostre coordinate bancarie e il codice assegnato all’ordine. Il Cliente dovr&agrave; indicare nella causale
              del bonifico detto numero d’ordine unitamente ai propri riferimenti. Il Cliente si impegna a trasmettere a mezzo fax al
              n. +39 02 22478803 (preferibilmente), oppure a mezzo e-mail all'indirizzo di posta elettronica info@coalca.it,
              copia della distinta di avvenuto bonifico ed il numero di CRO. Coalca provveder&agrave; ad evadere l’ordine solo dopo aver verificato
              presso la propria banca l’avvenuto accredito del prezzo dell’ordine di acquisto.
            </li>
          </ol>
        </li>
        <li>
          I costi di installazione e montaggio NON sono compresi nel prezzo.
        </li>
      </ol>
    </div>

    <div>
      <li><a name="trasporto">Trasporto, Tempi di consegna, Termini di consegna</a></li>
      <ol class="terms">
        <li>
          Le spedizioni dei prodotti acquistati vengono effettuate tramite vettore.
        </li>
        <li>
          Coalca srl consegna in tutto il territorio italiano, isole comprese.
        </li>
        <li>
          Il termine di consegna indicato sul sito Coalca Shop decorre in seguito al chiarimento di tutti gli aspetti tecnici.
        </li>
        <li>
          Il rispetto dell’obbligazione alla consegna presuppone il puntuale e corretto adempimento degli obblighi del Cliente,
          in particolare la consegna completa della documentazione che il Cliente deve procurare e l’accredito del pagamento anticipato eventualmente concordato.
        </li>
        <li>
          I tempi di consegna dei macchinari e degli arredi per ristoranti, trattorie e pizzerie in vendita su <%= link_to "Coalca Shop", root_path %>
          sono puramente indicativi, possono subire variazioni a causa della disponibilit&agrave; dei fornitori e delle giacenze di magazzino.
          In nessun caso potr&agrave; essere richiesto a Coalca srl il rimborso per eventuali danni per ritardata consegna, n&egrave; il ritardo può costituire
          motivo di rescissione del contratto, fatto salvo quanto indicato al punto 5.11.
        </li>
        <li>
          Con la consegna dei prodotti al vettore, Coalca srl si libera dall'obbligo di consegna degli stessi;
          sar&agrave; pertanto cura del Cliente prendere informazioni direttamente con il vettore in ordine ai tempi di trasporto.
        </li>
        <li>
          &Egrave; tassativo all'invio dell'ordine comunicare eventuali destinazioni diverse dall'indirizzo indicato al momento della
          registrazione ed indicare se la zona di consegna &egrave; in qualche modo disagiata (a titolo di esempio strade troppo strette,
          traffico limitato, zone pedonali). Nel caso di destinazioni considerate disagiate, le spese di spedizione ed ogni eventuale
          costo aggiuntivo sostenuto o richiesto dal vettore, sar&agrave; posto a carico del Cliente, salvo diversa determinazione tra le parti,
          da provarsi per iscritto.
        </li>
        <li>
          Se il Cliente ritarda nell’accettazione o infrange altri obblighi di collaborazione Coalca srl avr&agrave;
          diritto al risarcimento dei danni da ci&ograve; derivanti, ivi compresi eventuali costi supplementari. Coalca srl si riserva
          inoltre di far valere ulteriori diritti. In caso di perdita o deterioramento fortuiti della merce il rischio viene trasferito
          al cliente nel momento in cui inizia a decorrere il suo ritardo nell’accettazione.
        </li>
        <li>
          L’inizio del termine di consegna concordato autorizza Coalca srl ad effettuare la consegna. Se in tale momento il Cliente,
          nonostante l’offerta, non pu&ograve; o non vuole prendere in consegna la merce, Coalca srl si riserva il di diritto di immagazzinarla presso
          i suoi magazzini. Tutti i costi supplementari derivanti da tale provvedimento o in altro modo conseguenti al ritardo nell’accettazione
          da parte del cliente potranno essere oggetto di ulteriore fatturazione. In caso di mancata evasione dell’ordine per cause imputabili al
          Cliente, Coalca srl si riserva il diritto di trattenere l’intera somma versata come risarcimento danni.
        </li>
        <li>
          Impedimenti alla consegna o alla prestazione dovuti a cause di forza maggiore, o ad eventi imprevisti non imputabili a Coalca srl
          e che pregiudicano fortemente o rendono impossibile la consegna; in particolare scioperi, serrate, interruzioni di attivit&agrave;,
          provvedimenti istituzionali, ritardi nella consegna di componenti ecc. anche se riconducibili ai nostri fornitori o subfornitori,
          danno diritto ad una proroga del termine di consegna fino a 6 settimane anche in caso di termine vincolante precedentemente concordato.
          Se l’impedimento si protrae oltre le 6 settimane, dopo adeguata proroga il cliente ha diritto di recedere dal contratto.
        </li>
        <li>
          La consegna della merce si effettua franco domicilio all’indirizzo del cliente. Quest’ultimo dovrà provvedere ad un adeguato
          trasporto fino alla collocazione definitiva. La ditta Coalca srl declina qualsiasi responsabilit&agrave; in relazione ad eventuali
          prestazioni di aiuto da parte del suo personale durante tale trasporto.
        </li>
        <li>
          Eventuali maggiorazioni dovute a reiterati tentativi di consegna a vuoto da parte del corriere sono a carico del Cliente.
        </li>
        <li>
          Al momento della consegna dei prodotti effettuata dal vettore, il Cliente &egrave; tenuto a verificare, immediatamente,
          la conformit&agrave; del prodotto a lui consegnato rispetto a quello ordinato ed, in particolare, che i prodotti indicati nella fattura
          accompagnatoria emessa da Coalca srl siano corrispondenti a quelli effettivamente ricevuti, che gli stessi siano integri
          (ivi compresi gli imballaggi), non bagnati o danneggiati e conformi alle caratteristiche standard dei colli Coalca srl.
        </li>
        <li>
          Gli articoli prodotti su misura dietro richiesta del cliente sono esclusi dal diritto di restituzione.
          In caso di non gradimento il cliente non ha diritto ad avanzare alcuna richiesta di modifica o risarcimento.
          Il diritto di revoca non si applica ai contratti per la fornitura di merci prodotte in base a specifiche del cliente,
          palesemente adattate al suo specifico fabbisogno, o a qualsiasi forma di ordini particolari quali ad es. articoli fuori gamma.
        </li>
      </ol>
    </div>

    <div>
      <li><a name="montaggio">Montaggio</a></li>
      <ol class="terms">
        <li>
          I lavori di muratura, pulizia, imbiancatura, carpenteria, installazione e collegamento elettrico non sono compresi nelle offerte presenti su
          <%= link_to "Coalca Shop", root_path %>.
        </li>
        <li>
          &Egrave; tassativamente necessario che il montaggio e/o l‘allacciamento delle apparecchiature acquistate sul sito <%= link_to "Coalca Shop", root_path %> sia
          effettuato esclusivamente da personale qualificato. La fattura relativa ai lavori di montaggio e/o allacciamento da parte di
          personale qualificato dovr&agrave; essere conservata per tutto il periodo di garanzia, poich&eacute; &egrave; determinante ai fini dell’esercizio del
          diritto di garanzia da parte del cliente.
        </li>
        <li>
          All’inizio del montaggio tutti gli interventi edili dovranno essere gi&agrave; ad uno stadio di avanzamento tale da non ostacolare
          il montaggio stesso. Il Cliente si impegna a mettere a disposizione elettricit&agrave;, acqua, riscaldamento, illuminazione nonch&eacute;
          ambienti chiusi necessari per il deposito delle merci consegnate e degli utensili portati in loco per il montaggio.
        </li>
        <li>
          Per il trasporto di oggetti pesanti il cliente dovr&agrave; mettere a disposizione personale ausiliario e le necessarie attrezzature di rinforzo e sollevamento.
        </li>
        <li>
          Se gli accessi all’edificio si rivelano troppo piccoli per l’ingresso dei componenti, il Cliente si far&agrave; carico di tutti i costi conseguentemente
          sostenuti, in particolare per l’ampliamento degli accessi, il frazionamento dei componenti e i tempi mancati e di attesa.
        </li>
      </ol>
    </div>

    <div>
      <li><a name="rischio">Trasferimento del rischio</a></li>
      <ol class="terms">
        <li>
          Fatta salva diversa indicazione nella conferma d’ordine la consegna si intende “franco domicilio”.
        </li>
        <li>
          Il rischio di perdita o deterioramento fortuiti della merce viene quindi trasferito al cliente
          all’atto della consegna.
        </li>
        <li>
          Il trasferimento avviene anche se il cliente &egrave; in ritardo nell’accettazione.
        </li>
      </ol>
    </div>

    <div>
      <li><a name="garanzia">Garanzia commerciale</a></li>
      <ol class="terms">
        <li>
           I prodotti venduti da Coalca srl sono soggetti alla sola garanzia convenzionale di seguito indicata,
           con esclusione di ogni altra garanzia.
        </li>
        <li>
          Il termine di durata della garanzia commerciale è di un anno dalla consegna della merce.
        </li>
        <li>
          La garanzia per vizi della merce si esplica, a discrezione di Coalca srl, attraverso la riparazione o la
          sostituzione della stessa.
        </li>
        <li>
          Il Cliente deve denunciare eventuali vizi relativi ai prodotti, a pena di decadenza, entro 8 giorni
          lavorativi dalla scoperta degli stessi, con comunicazione a Coalca srl, da effettuarsi,
          alternativamente, mediante raccomandata r.r. da inoltrarsi alla sede di quest'ultima, a mezzo
          fax al numero +39 02 22478803, ovvero a mezzo posta elettronica alla casella <a href="mailto:ecommerce@coalca.it">ecommerce@coalca.it</a>.
        </li>
        <li>
          I diritti di garanzia nei confronti di Coalca srl competono solo e direttamente al Cliente e non possono essere ceduti.
        </li>
        <li>
          Tutte le immagini utilizzate su <%= link_to "Coalca Shop", root_path %> per presentare la merce sono puramente indicative.
          La rappresentazione dei vari articoli non &egrave; sempre totalmente realistica, ma si intende a fini
          puramente dimostrativi; specialmente per quanto riguarda i colori si possono verificare delle
          discrepanze dovute alla diversa visualizzazione sui vari schermi. Ci&ograve; che fa fede &egrave; quindi la
          descrizione tecnica degli articoli.
        </li>
        <li>
          Coalca srl declina ogni responsabilit&agrave; per danni derivanti da utilizzo o immagazzinamento inadeguato,
          da difetti di installazione o dall’usura naturale della merce. Coalca srl non fornisce inoltre alcuna
          garanzia per lavori di riparazione o altri interventi effettuati dall’Acquirente/Cliente o da soggetti
          terzi senza il suo consenso.
        </li>
      </ol>
    </div>

    <div>
      <li><a name="responsabilita">Limitazione di responsabilit&agrave;</a></li>
      <ol class="terms">
        <li>
          Coalca srl declina ogni responsabilit&agrave; per danni derivanti da lieve negligenza in relazione a
          obblighi contrattuali non sostanziali.
        </li>
        <li>
          La limitazione di responsabilit&agrave; di cui al punto precedente non si applica in caso di morte, ferite o danni
          alla salute o nei casi previsti dalla legge italiana sulla responsabilit&agrave; del produttore.
        </li>
        <li>
          Il diritto del Cliente al risarcimento del danno per vizio della merce decade dopo un anno dalla consegna
          della stessa, a meno che non venga contestato il dolo a Coalca srl.
        </li>
      </ol>
    </div>

    <div>
      <li><a name="registrazione">Registrazione del cliente, conto cliente</a></li>
      <ol class="terms">
        <li>
          Per poter effettuare acquisti nel negozio on-line di Coalca Shop è necessario che il Cliente si
          registri e apra un conto cliente, accedendo <%= link_to "all'apposita sezione", signup_path %>.
        </li>
        <li>
          Non appena completata la registrazione, <%= link_to "Coalca Shop", root_path %> invier&agrave;,
          all’indirizzo di posta elettronica indicato dal Cliente, un'email contenente le informazioni
          da lui fornite.
        </li>
        <li>
          Il Cliente dovr&agrave assicurarsi che l’indirizzo email da lui fornito sia raggiungibile e che il
          ricevimento dei messaggi inviati da Coalca Shop in relazione all’evasione dell’ordine non sia
          ostacolato da procedure di inoltro, sospensioni, attivazione di filtri spam o sovraccarico
          della casella di posta elettronica. Il Cliente &egrave; tenuto a proteggere la propria password contro
          abusi da parte di terzi e non deve comunicarla ad altri.
        </li>
      </ol>
    </div>

    <div>
      <li><a name="prodotti">Prodotti</a></li>
      <ol class="terms">
        <li>
          Coalca srl informa il Cliente che i prodotti offerti, salva diversa espressa indicazione,
          sono destinati esclusivamente ai territori di cui alla marcatura CE. Pertanto, se il Cliente
          decide di immettere il prodotto in un paese diverso, lo stesso &egrave; responsabile di tale immissione
          ed &egrave; tenuto a seguire le normative e le restrizioni eventualmente applicabili per l'esportazione
          e l'importazione in altri Paesi.
        </li>
        <li>
          Coalca srl dichiara che i prodotti in vendita sono corrispondenti agli standard offerti sul mercato
          e conformi alla normativa vigente nel Territorio Italiano.
        </li>
        <li>
          Le descrizioni dei prodotti nelle offerte pubblicate, nelle conferme d’ordine e reperibili
          sul sito <%= link_to "Coalca Shop", root_path %> sono indicative. Coalca srl si riserva il diritto di apportare modifiche
          di materiale, colore, peso, dimensioni, struttura tecnica e altre caratteristiche analoghe nella
          misura in cui queste non pregiudichino l’accettazione del prodotto da parte del Cliente.
          Inoltre tutte le indicazioni relative a quantit&agrave;, misure e altre caratteristiche analoghe
          si intendono entro i limiti di tolleranza stabiliti dall’uso commerciale.
        </li>
      </ol>
    </div>

    <div>
      <li><a name="assistenza">Assistenza clienti</a></li>
      <ol class="terms">
        <li>
          Per qualunque chiarimento o reclamo, Coalca srl potrà essere contattata mediante corrispondenza
          da inoltrarsi alla sede sopra indicata, ovvero mediante fax al n. +39 02 22478803,
          o a mezzo e-mail all'indirizzo di posta elettronica <a href="mailto:ecommerce@coalca.it">ecommerce@coalca.it</a>.
        </li>
      </ol>
    </div>

    <div>
      <li><a name="disposizioni">Disposizioni generali</a></li>
      <ol class="terms">
        <li>
          Qualsiasi variazione di proprietà dell’azienda Cliente, di forma societaria o simili,
          che vada ad influire sui rapporti commerciali esistenti, o eventuali cambi di indirizzo
          dovranno essere tempestivamente comunicati a Coalca srl, secondo le modalità indicate al
          precedente punto 12.1.
        </li>
        <li>
          Coalca srl rifiuter&agrave; il ricevimento di qualsiasi invio/spedizione a pagamento.
        </li>
      </ol>
    </div>

    <div>
      <li><a name="privacy">Privacy e protezione dei dati</a></li>
      <ol class="terms">
        <li>
          Clicca sul pulsante accanto per la privacy policy: <a href="//www.iubenda.com/privacy-policy/983640" class="iubenda iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
        </li>
      </ol>
    </div>

    <div>
      <li><a name="legge">Legge applicabile e disposizioni finali</a></li>
      <ol class="terms">
        <li>
          La legge applicabile al presente contratto e ad ogni questione ad esso inerente,
          ivi compresa la sua esecuzione, efficacia ed interpretazione, &egrave; quella italiana.
        </li>
        <li>
          Se il Cliente &egrave; un commerciante, o una persona giuridica o organismo sociale di diritto pubblico,
          le eventuali controversie relative al contratto saranno di esclusiva competenza del foro di Milano.
        </li>
        <li>
          Se alcune disposizioni del contratto concluso con il Cliente, ivi comprese le presenti Condizioni
          Generali di Vendita, dovessero rivelarsi o divenire completamente o parzialmente nulle, la validit&agrave;
          delle altre disposizioni rester&agrave; inalterata. Le disposizioni completamente o parzialmente nulle
          dovranno essere sostituite da altre il cui effetto economico sia il pi&ugrave; possibile simile a quello
          delle disposizioni risultate nulle.
        </li>
      </ol>
    </div>

  </ol>
</div>
